doctype html
head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')

    title Portal de Transparencia del Poder Ejecutivo del Estado de Hidalgo
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='title' content='Portal de Transparencia del Poder Ejecutivo del Estado de Hidalgo')
    meta(name='author' content='Espinosa Rodriguez Jasson Antonio')
    each val in Assets.css
        link(type='text/css' href=val rel='stylesheet')


main

    section.min-vh-100.d-flex.bg-dark.align-items-center
        .container
            .row.justify-content-center
                .col-12.col-md-8.col-lg-6.justify-content-center
                    .card.bg-white.shadow-soft.border-light.p-3
                        .card-header.text-center.pb-0
                            h2.h4 Ingreso
                            img.img-fluid.rounded(src="/public/images/gobierno_hidalgo.jpg" style='width:50%; height:50%;')
                        .card-body
                            .mt-4

                                .form-group
                                    label(for='user') Usuario
                                    .input-group.mb-4
                                        .input-group-prepend
                                            span.input-group-text
                                                span.fas.fa-user-alt
                                        input#user.form-control(placeholder='Usuario' type='text' aria-label='Usuario')

                                .form-group

                                    .form-group
                                        label(for='pass') Contraseña
                                        .input-group.mb-4
                                            .input-group-prepend
                                                span.input-group-text
                                                    span.fas.fa-unlock-alt
                                            input#pass.form-control(placeholder='Contraseña' type='password' aria-label='Contraseña' required='')

                                button.btn.btn-block.btn-primary#login Registro
                                center
                                    | Jasson (c) 2022 All rights reserved
                                    br
                                    a(href="https://www.npmjs.com/package/big-head" target="_blank") Powered by big-head

// Core
each val in Assets.js
    script(src=val)
script(src='/public/core/common.js')
script(src='/public/core/login.js')
script.
    let URI = "!{params.uri}"
    let api_url_base = "!{params.api_url_base}"
    let api_base_path = "!{params.api_base_path}"




